.sidebar {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: sticky;
  top: 148px;
  display: inline-block;
 
}

.sidebar-list  a{
   display: inline-block;
   position: relative;
   list-style: none;
   margin-left: 100px;
   margin-right: 30px;
   font-weight: 300;
   padding-top: 20px;
   text-decoration: none;
   color: rgb(55, 55, 55);
}

.sidebar-list a::after {
  content: '';
  height: 3px;
  font-size: 17px;
  width: 0%;
  left: 0;
  bottom: -8px;
  background: rgb(255, 158, 47);
  position: absolute;
  transform: 0.10s;
}

.sidebar-list a:hover::after {
  font-size: 30px;
  width: 100%;
}